Client/node_modules/
node_modules/
Server/out/
Server/node_modules/
Documentation/~$WorkingTime.xlsx
*.js.map
Client/scripts/out/app.js
Shared/obj/Debug/Shared.njsproj.FileListAbsolute.txt
Shared/DataPackageType.js
Server/obj/Debug/Tscd37738c1.out
Shared/obj/Debug/Tsc5dc0e2a1.out
Shared/IDataPackage.js
Shared/DataPackage.js
Client/obj/Debug/Tscce483c51.out
Server/obj/Debug/Server.njsproj.FileListAbsolute.txt
Shared/DataType.js
Client/obj/Debug/Client.njsproj.FileListAbsolute.txt
Shared/*.js
Shared/**/*.js
